.chat-panel {
  font-family: "Manrope", "Inter", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #0b1021;
}

.chat-panel .message-bubble {
  font-size: 13px;
  line-height: 1.6;
}

.chat-panel textarea:focus {
  border-color: rgb(0, 0, 0);
  outline: 0;
  --tw-ring-color: rgba(255, 255, 255, 0);
  border: 0;
  border-bottom-width: 0;
}

.chat-panel textarea {
  background-color: rgb(255, 255, 255);
  font: inherit;
}

.chat-panel textarea::placeholder {
  font: inherit;
}
