.container {
    width: 100%;
    border-radius: 8px;
    position: relative;
    height: 20px;
    margin: auto;
}

.progressBar {
    background-color: #cacaca;
    text-align: center;
    line-height: 24px;
    color: white;
    border-radius: 8px;
}

.label {
    width: 100%;
    text-align: center;
    color: black;
    margin: auto;

}